@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color:#F9F1F0;
}

.container1 {
  max-width: 1050px;
  width: 90%;
  margin: auto;
}

.navbar {
  width: 100%;
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}

.nav-container1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.navbar .menu-items {
  display: flex;
}

.navbar .nav-container1 li {
  list-style: none;
}

.navbar .nav-container1 a {
  text-decoration: none;
  color: #653636;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.navbar .nav-container1 a:hover {
  font-weight: bolder;
}

.nav-container1 {
  display: block;
  position: relative;
  height: 60px;
}

.nav-container1 .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container1 .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container1 .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #653636;
}

.nav-container1 .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container1 .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container1 .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  padding-top: 120px;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  height: 100vh;
  width: 100%;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin-left: -40px;
  padding-left: 50px;
  transition: transform 0.5s ease-in-out;
  text-align: center;
}

.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.logo {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 1.2rem;
  color: #653636;
}

.nav-container1 input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container1 input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container1 input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container1 input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container1 input[type="checkbox"]:checked ~ .logo {
  display: none;
}

.home{ 
	height:600px;
	width:100%;
	background-image:url(https://images.unsplash.com/photo-1551499779-ee50f1aa4d25?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHBhc3RlbCUyMGZvb2R8ZW58MHx8MHx8&w=1000&q=80);
	background-repeat: no-repeat;
	background-size: cover;
}

#p {
	font-size:100px;
	color:#653636;
}
.reservation{
	height:100px;
	width: 300px;
	border-radius: 8px;
	border: 2px solid white;
	background-color:#653636;
	color:#F9F1F0;
	font-size:35px;
  position: absolute;
  top: 65%;
  left: 25%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.reservation:hover{
	color:#DDB4AF;
	border: 2px solid #E09AA0;
}

.titles{
	font-size:60px;
	color:#653636;
	text-decoration: underline;
	text-align: center;

	}

img{
	height:200px;
	width:200px;
	position: relative;
}

.txt{
	color :#653636;
    font-size: 20px;
	display:inline-block;
	vertical-align:middle;
}

.dishes , .burger , .drink{
	position:relative; 
}
.mid{
	position:relative;
	left:25%;
}
.pic {
	display:inline-block;
	vertical-align:middle;
}

.reserve{
	font-size:35px;
	position: relative;
	color:#653636;
}
.container{
	position:relative;
	left:25%;
	background-color:#DDB4AF;
	color:#653636;
	border: 3px solid #DDB4AF;
	width:700px;
	height:500px;
	 box-shadow: 10px 10px 8px #DDB4AF;
	 margin: 5px;
}

input[type=text],input[type=date],input[type=time]{
	width: 300px;
	height:35px;
  padding: 12px 20px;
  margin: 5px;
  font-size:20px;
  box-sizing: border-box;
  color:#653636;
}

.b1{
	height:75px;
	width:200px;
	border-radius: 8px;
	border: 2px solid white;
	background-color:#653636;
	color:#F9F1F0;
	font-size:30px;
	position:relative;
	left:25%;
}
.b1:hover{
	color:#DDB4AF;
	border: 2px solid #E09AA0;
}

.b2{
	height:75px;
	width:200px;
	border-radius: 8px;
	border: 2px solid white;
	background-color:#653636;
	color:#F9F1F0;
	font-size:30px;
	
	left:25%;
}
.b2:hover{
	color:#DDB4AF;
	border: 2px solid #E09AA0;
}


.container2{
	position:relative;
	left:25%;
	background-color:#DDB4AF;
	color:#653636;
	font-size:25px;
	border: 3px solid #DDB4AF;
	width:700px;
	height:500px;
	 box-shadow: 10px 10px 8px #DDB4AF;
}
#message{
	height:200px;
	width:500px;
}